@import url('https://fonts.cdnfonts.com/css/romantic');
body {
    background: #DA22FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    padding: 2em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    gap: 1em;
    margin: 0 auto;
}
.text {
    display: flex;

}
.heading {
    margin: 0 auto;
    font-style: italic;
    font-family: 'Romantic', sans-serif;
    font-size: 1.5em;
    padding: 1em;
}

.heading h1 {
    color: white;
    transition: all 0.3s ease-in;
    padding-bottom: 0.5em;
}
.heading h1:hover {
    box-shadow: 0 0 1em 0 black;
    padding: 0.6em;
    border-radius: 0.2em;
    border: 2px solid black;
}
blockquote .quote {
    font-style: italic;
    font-weight: bold;
    padding: 1.5em;
    color: white;
    text-align: center;
    transition: 0.3s ease-in;
    border-left: 2px solid black;

}
blockquote .author {
    float: right;
    color: white;
}

p.quote
 {
    font-family: "Winter",sans-serif;
}

blockquote p:hover {
    color: black
}
blockquote {
    max-width: 300px;

}
section.text2{
    align-self: flex-end;
}
section.text4 {
    align-self: flex-end;
}

.card {
    flex: 0 0 60px;
    width: 60px;
    height: 300px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 0.3em;
    box-shadow:  0 0 0.5em 0.1em black;
    transition: all 0.3s ease-in;
}

section.text5 {
    align-self: flex-start;
}
.card:hover {
    width: 200px;
    flex: 0 0 200px;

}
img {
    display: block;
    width: 100%;
    height: auto;

}

.card img {
    width: auto;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%)
}
 #right{
    float: right;
}
i {
    font-size: 1.5em;
    color: red;
    transition: color 0.3s ease-in;
}
i:hover {
    color: pink;
}


